@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Main */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #4a4b4e;
  background: hsl(194, 100%, 82%);
  margin: 0;
}

img {
  width: auto;
}

/* Background colors - gradients from https://cdpn.io/rDEAl */
.day-1 {
  background: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
}
.day-2 {
  background: linear-gradient(to bottom, #757abf 0%, #8583be 60%, #eab0d1 100%);
}
.day-3 {
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}
.day-4 {
  background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
}
.day-5 {
  background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}
.day-6 {
  background: linear-gradient(to bottom, #9be2fe 0%, #67d1fb 100%);
}
.day-7 {
  background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
}
.day-8 {
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
}
.day-9 {
  background: linear-gradient(to bottom, #2d91c2 0%, #1e528e 100%);
}
.day-10 {
  background: linear-gradient(to bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%);
}
.day-11 {
  background: linear-gradient(to bottom, #1e528e 0%, #265889 50%, #9da671 100%);
}
.day-12 {
  background: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
}
.day-13 {
  background: linear-gradient(
    to bottom,
    #154277 0%,
    #576e71 30%,
    #e1c45e 70%,
    #b26339 100%
  );
}
.day-14 {
  background: linear-gradient(
    to bottom,
    #163c52 0%,
    #4f4f47 30%,
    #c5752d 60%,
    #b7490f 80%,
    #2f1107 100%
  );
}
.day-15 {
  background: linear-gradient(
    to bottom,
    #071b26 0%,
    #071b26 30%,
    #8a3b12 80%,
    #240e03 100%
  );
}

.night-1 {
  background: linear-gradient(
    to bottom,
    #010a10 30%,
    #59230b 80%,
    #2f1107 100%
  );
}
.night-2 {
  background: linear-gradient(to bottom, #090401 50%, #4b1d06 100%);
}
.night-3 {
  background: linear-gradient(to bottom, #00000c 80%, #150800 100%);
}
.night-4 {
  background: linear-gradient(to bottom, #00000c 0%, #00000c 0%);
}
.night-5 {
  background: linear-gradient(to bottom, #020111 85%, #191621 100%);
}
.night-6 {
  background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
}
.night-7 {
  background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%);
}
.night-8 {
  background: linear-gradient(to bottom, #20202c 0%, #515175 100%);
}
.night-9 {
  background: linear-gradient(to bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%);
}

/* Elements */
.container,
.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 40px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.search-bar {
  display: flex;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  width: 100%;
  padding: 0 10% 5% 10%;
}

#userInput {
  display: inline;
  border-color: transparent;
  background-color: transparent;
  outline: none;
  font-size: large;
  width: 100%;
}

#searchIcon {
  display: inline;
  color: #cacccf;
}

.condition {
  width: 100%;
}

.condition-image {
  display: block;
  width: 100%;
  margin: -10% 0 -10% 0;
}

#temperature {
  font-size: 5rem;
  margin-left: 10%;
}

#conditionText {
  text-align: center;
}

#userLocation {
  margin-top: 3px;
  font-size: 1.3rem;
}
